/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.h4 {
  margin-bottom: 0;
}

.el-menu--horizontal>.el-menu-item {
  height: 45px;
  line-height: 45px;
}

.social-share-trigger {
  color: $accentColor !important;
}

.el-badge__content {
  background-color:  $textColor;
}

.el-card {
  @media only screen and (max-width: 992px) {
    border-radius: 0;
  }
}