/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */
$accentColor = #aba08f; //#7f8384;
$mainBackColor = #eef0ec; // #dee7e9;
$secondaryColor = lighten(#C06C84, 20%);
$textColor = #887966; //#2c3e50;
$borderColor = rgba(0, 0, 0, 0.05);
$codeBgColor = darken($textColor, 50%);
$arrowBgColor = #ccc;
